name: Build Image to GAR & Deploy to Google App Engine

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      IMAGE_TAG: europe-west1-docker.pkg.dev/argon-tuner-405813/wizard-team-garrrr/wizards-store:$GITHUB_SHA
      WIZ_POLICY: "DavidLawson-BreakTheBuild" # Set the desired Wiz CLI policy to use

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: argon-tuner-405813
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
          
      - name: Build Docker Image
        run: docker build -t $IMAGE_TAG .

      - name: Download Wiz CLI
        run: curl -o wizcli https://wizcli.app.wiz.io/latest/wizcli && chmod +x wizcli

      - name: Authenticate to Wiz
        run: ./wizcli auth --id "$WIZ_CLIENT_ID" --secret "$WIZ_CLIENT_SECRET"
        env:
          WIZ_CLIENT_ID: ${{ secrets.WIZ_CLIENT_ID }}
          WIZ_CLIENT_SECRET: ${{ secrets.WIZ_CLIENT_SECRET }}

      - name: Run Wiz CLI Docker Image Scan
        run: ./wizcli docker scan --image $IMAGE_TAG --policy "$WIZ_POLICY"

      - name: Push Docker Image to GAR
        run: |
          gcloud auth configure-docker europe-west1-docker.pkg.dev
          docker push $IMAGE_TAG

      - name: Deploy to App Engine
        run: |
          gcloud app deploy --image-url=$IMAGE_TAG --quiet