name: Build Image to GAR & Deploy to Google App Engine

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: argon-tuner-405813
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Build and Push Docker Image
        run: |
          gcloud auth configure-docker europe-west1-docker.pkg.dev
          docker build -t europe-west1-docker.pkg.dev/argon-tuner-405813/wizard-team-garrrr/wizards-store:$GITHUB_SHA .
          docker push europe-west1-docker.pkg.dev/argon-tuner-405813/wizard-team-garrrr/wizards-store:$GITHUB_SHA

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Set up Cloud SDK (Again)
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: argon-tuner-405813
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Deploy to App Engine
        run: |
          gcloud app deploy --image-url=europe-west1-docker.pkg.dev/argon-tuner-405813/wizard-team-garrrr/wizards-store:$GITHUB_SHA --quiet
        working-directory: ./
